<button onclick="history.back()">Go Back</button>
<h1>click here to pay <%= data.amount/100 %> here</h1>
<h2>your order id is: <%= data.id %>
</h2>

<br>
<button id="rzp-button1">Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script> document.getElementById('rzp-button1').onclick = async function (e) {
        var options = {
            key: "rzp_test_dvLgwKDK60M5Xv",
            amount: `<%= data.amount %>`,
            currency: `<%= data.currency %>`,
            name: 'old monk shop',
            order_id: `<%= data.id %>`,
            callback_url: "https://razorpay-ahec.onrender.com",
        };
        var rzp1 = new Razorpay(options);

        rzp1.open();
        e.preventDefault();
    }


</script>