<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All qrcodes of RazorPay</title>
</head>

<body>
    <button onclick="history.back()">Go Back</button>
    <style>
        ul {
            font: medium;
            background-color: #FCFFE9;
        }
    </style>
    <h3>All qrcodes of RazorPay</h3>
    <ul>
        <% qrcodes.items.forEach(function(qrcode) { %>
            <li>
                <img src="<%= qrcode.image_url %>" width="400" height="500"> <br>
                qrcode ID: <%= qrcode.id %><br>
                    image_url: <%= qrcode.image_url %><br>
                        description: <%= qrcode.description %><br>
                            status: <%= qrcode.status %><br>
                                usage:<%= qrcode.usage %><br>
                                    created_at:<%= qrcode.created_at %><br>
            </li><br>
            <% }) %>
    </ul>
</body>

</html>